# Ignore node_modules directory in frontend and backend
frontend/node_modules/
frontend/build/
backend/*/node_modules/

# Ignore .env files (environment variables configuration)
frontend/.env
backend/*/.*env
backend/express/app/config/enviroments/.*env

# Ignore virtual environment directory in fastapi backend
backend/fastapi/venv/
backend/fastapi/venv/*/.

# Ignore any compiled binaries or dependencies
*.exe
*.log
*.out
*.pid
*.pyc
__pycache__/
